<div class="upload-container">
  <div class="upload-panel">
    <div uploadxDrop class="drop-zone">
      <span>
        <em>Drop files to upload, or</em>
        <label accesskey="o" for="files"><strong>BROWSE</strong></label>
        <input
          #file
          (change)="onChange()"
          accept="image/*,video/*"
          id="files"
          multiple
          type="file"
        />
      </span>
    </div>
    <div class="control">
      <span>
        <button (click)="upload()">Upload All</button>
        <button (click)="pause()">Pause All</button>
        <button (click)="cancel()">Cancel All</button>
      </span>
    </div>
    <div class="uploads-table">
      @for (item of uploads; track item.uploadId) {
        <div class="row">
          <span>{{ item.name }}</span>
          <span>{{ item.progress }}%</span>
          <span>{{ item.status }}</span>
          <span>
            <button (click)="pause(item.uploadId)">pause</button>
            <button (click)="upload(item.uploadId)">upload</button>
          </span>
        </div>
      }
    </div>
  </div>
  <div class="debug-panel">
    <span>{{ numberOfCopies }}/{{ options.concurrency }}</span>
    <pre>{{ state$ | async | json }}</pre>
  </div>
</div>
