sudo: required
dist: trusty
language: node_js
node_js:
  - '8'
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
before_install:
  - 'export CHROME_BIN=chromium-browser'
  - 'export DISPLAY=:99.0'
  - 'sh -e /etc/init.d/xvfb start'
before_script:
  - 'npm install -g npm@5.8.0'
  - 'npm install -g @angular/cli'
  - 'npm ci'
cache:
  directories:
  - "$HOME/.npm"
script:
  - 'npm run ci'
  - 'npm run build'

