<header>
  <nav>
    <a href="#" class="logo">ngx-uploadx</a>
    <ul>
      <li>
        <a routerLink="/directive-way" routerLinkActive="active">directive</a>
      </li>
      <li>
        <a routerLink="/service-way" routerLinkActive="active">mixed</a>
      </li>
      <li>
        <a routerLink="/service-code-way" routerLinkActive="active">service</a>
      </li>
      <li>
        <a routerLink="/on-push" routerLinkActive="active">on-push</a>
      </li>
      <li>
        <a routerLink="/multi" routerLinkActive="active">multi-options</a>
      </li>
      <li>
        <a routerLink="/multi2" routerLinkActive="active">multi-service</a>
      </li>
      <li>
        <a routerLink="/tus" routerLinkActive="active">tus</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
