<div class="container">
  <div class="btns">
    <div class="btn-col">
      <label class="upload-btn"
        >+
        <input
          #file
          type="file"
          (change)="onChange()"
          accept="image/*,video/*"
          multiple
          style="display:none"
        />
      </label>
      <button class="btn red raised" (click)="upload()">Upload All</button>
      <button class="btn red raised" (click)="cancel()">Cancel All</button>
      <button class="btn red raised" (click)="pause()">Pause All</button>
    </div>
  </div>

  <div class="uploads-table">
    <div class="row" *ngFor="let ufile of uploads">
      <span class="col-1">{{ ufile.name }}</span>
      <span class="col-2">{{ ufile.progress }}%</span>
      <span class="col-2">{{ ufile.status }}</span>
      <span class="col-3 btn-row">
        <button class="btn red raised" (click)="pause(ufile.uploadId)">pause</button>
        <button class="btn red raised" (click)="upload(ufile.uploadId)">upload</button>
      </span>
    </div>
  </div>
</div>
<div class="json">
  <span>{{ numberOfCopies }}/{{ options.concurrency }}</span>
  <pre>{{ state$ | async | json }}</pre>
</div>
