<div uploadxDrop>
  <div class="uploads-table">
    <div *ngFor="let item of uploads | keyvalue" class="row">
      <span>{{ item.value.name }}</span>
      <span>{{ item.value.progress }}%</span>
      <span>{{ item.value.status }}</span>
      <span>
        <button (click)="pause(item.key)">pause</button>
        <button (click)="upload(item.key)">upload</button>
      </span>
    </div>
  </div>
  <div class="control">
    <span>
      <em>Drop files to upload, or</em>
      <label accesskey="o" for="files"><strong>BROWSE</strong></label>
      <input #file (change)="onChange()" accept="image/*,video/*" id="files" multiple type="file" />
    </span>
    <span>
      <button (click)="upload()">Upload All</button>
      <button (click)="pause()">Pause All</button>
      <button (click)="cancel()">Cancel All</button>
    </span>
  </div>
</div>
<div class="json">
  <span>{{ numberOfCopies }}/{{ options.concurrency }}</span>
  <pre>{{ state$ | async | json }}</pre>
</div>
