<div id="page">
  <header>
    <nav>
      <span (click)="menuIsHidden = !menuIsHidden" [class.hidden]="menuIsHidden" id="menu">
        <a href="" title="Select demo...">≡</a>
        <ng-container *ngTemplateOutlet="LinksTemplate"> </ng-container>
      </span>
    </nav>
    <span id="logo">
      <a href="#" title="Click to reload...">ngx-uploadx</a>
    </span>
    <span id="gh">
      <a
        href="https://github.com/kukhariev/ngx-uploadx"
        title="ngx-uploadx homepage..."
        rel="noopener noreferrer"
        target="_blank"
      ></a
    ></span>
  </header>
  <div id="content">
    <aside id="sidebar">
      <ng-container *ngTemplateOutlet="LinksTemplate"> </ng-container>
    </aside>
    <main id="main" (click)="menuIsHidden = true"><router-outlet></router-outlet></main>
  </div>
</div>

<ng-template #LinksTemplate>
  <div class="links">
    <span>Select demo:</span>
    <a routerLink="/directive-way" routerLinkActive="active">directive</a>
    <a routerLink="/standalone" routerLinkActive="active">standalone</a>
    <a routerLink="/service-way" routerLinkActive="active">mixed</a>
    <a routerLink="/service-code-way" routerLinkActive="active">service</a>
    <a routerLink="/on-push" routerLinkActive="active">on-push</a>
    <a routerLink="/multi" routerLinkActive="active">multi-options</a>
    <a routerLink="/multi2" routerLinkActive="active">multi-service</a>
    <a routerLink="/tus" routerLinkActive="active">tus</a>
    <span></span>

    <a routerLink="/file-generator" routerLinkActive="active">Generate test files</a>
  </div>
</ng-template>
