<header>
  <div class="logo">
    <a href="#">ngx-uploadx</a>
  </div>
  <nav>
    <ul (click)="hidden = !hidden" [class.hidden]="hidden">
      <li>
        <a href="">⠇</a>
        <div>
          <a routerLink="/directive-way" routerLinkActive="active">directive</a>

          <a routerLink="/service-way" routerLinkActive="active">mixed</a>

          <a routerLink="/service-code-way" routerLinkActive="active">service</a>

          <a routerLink="/on-push" routerLinkActive="active">on-push</a>

          <a routerLink="/multi" routerLinkActive="active">multi-options</a>

          <a routerLink="/multi2" routerLinkActive="active">multi-service</a>

          <a routerLink="/tus" routerLinkActive="active">tus</a>

          <a routerLink="/file-generator" routerLinkActive="active">file-generator</a>
        </div>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
