<div uploadxDrop>
  <div class="uploads-table">
    <div *ngFor="let item of uploads$ | async" class="row">
      <span>{{ item.name }}</span>
      <span>{{ item.progress }}%</span>
      <span>{{ item.status }}</span>
      <span>
        <button (click)="pause(item.uploadId)">pause</button>
        <button (click)="upload(item.uploadId)">upload</button>
      </span>
    </div>
  </div>
  <div class="control">
    <span>
      <label for="files" accesskey="i"><strong>BROWSE Images</strong></label>
      <input
        #files
        (click)="files.value = ''"
        uploadx="options"
        id="files"
        style="display: none;"
        type="file"
      />
    </span>
    <span>
      <label for="files2" accesskey="v"><strong>BROWSE Videos</strong></label>
      <input
        #files2
        (click)="files.value = ''"
        uploadx="options2"
        id="files2"
        style="display: none;"
        type="file"
      />
    </span>
    <span>
      <button (click)="upload()">Upload All</button>
      <button (click)="pause()">Pause All</button>
      <button (click)="cancel()">Cancel All</button>
    </span>
  </div>
</div>
<div class="json">
  <pre>{{ state$ | async | json }}</pre>
</div>
