<div class="upload-zone">
  <div class="uploads-table">
    <div *ngFor="let item of uploads$ | async" class="row">
      <span>{{ item.name }}</span>
      <span>{{ item.progress }}%</span>
      <span>{{ item.status }}</span>
      <span>
        <button (click)="pause(item.uploadId)">pause</button>
        <button (click)="upload(item.uploadId)">upload</button>
      </span>
    </div>
  </div>
  <div class="control">
    <span>
      <label accesskey="i" for="images"><strong>BROWSE Images</strong></label>
      <input
        #images
        (click)="images.value = ''"
        [uploadx]="imageUploadOptions"
        id="images"
        type="file"
      />
    </span>
    <span>
      <label accesskey="v" for="videos"><strong>BROWSE Videos</strong></label>
      <input
        #videos
        (click)="videos.value = ''"
        [uploadx]="videoUploadOptions"
        id="videos"
        type="file"
      />
    </span>
    <span>
      <button (click)="upload()">Upload All</button>
      <button (click)="pause()">Pause All</button>
      <button (click)="cancel()">Cancel All</button>
    </span>
  </div>
</div>
<div class="json">
  <pre>{{ state$ | async | json }}</pre>
</div>
