<div class="container">
  <div class="btns">
    <div class="btn-col">
      <label class="upload-btn" uploadxDrop
        >A
        <input accept="video/*" class="video" style="display: none;" type="file" uploadx />
      </label>
      <button (click)="uploadAll()" class="btn red raised">Upload All</button>
      <button (click)="cancelAll()" class="btn red raised">Cancel All</button>
      <button (click)="pauseAll()" class="btn red raised">Pause All</button>
    </div>
  </div>

  <div class="uploads-table">
    <div *ngFor="let item of uploads$ | async" class="row">
      <span class="col-1">{{ item.name }}</span>
      <span class="col-2">{{ item.progress }}%</span>
      <span class="col-2">{{ item.status }}</span>
      <span class="col-3 btn-row">
        <button (click)="item.status = 'paused'" class="btn red raised">pause</button>
        <button (click)="item.status = 'queue'" class="btn red raised">upload</button>
      </span>
    </div>
  </div>
</div>
