@use 'sass:color';

// variables
$primary-color: rgb(200, 200, 200);
$background-color: rgb(36, 36, 36);
$nav-header-primary-color: rgb(200, 200, 200);
$nav-header-background-color: rgb(36, 36, 36);
$sidebar-primary-color: rgb(200, 200, 200);
$sidebar-background-color: rgb(20, 20, 20);

$border: 1px solid color.adjust($primary-color, $alpha: -0.9);
$border-drop: 1px dashed $primary-color;
$header-height: 2.5rem;
$sidebar-width: 220px;
$upload-panel-min-width: 500px;
$debug-panel-width: 480px;
$drop-zone-height: 200px;
$gap: 0.2rem;
$section-gap: 0.4rem;

// reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background: $background-color;
  color: $primary-color;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--font-size, 14px);
  height: 100%;
}

// header
header {
  min-height: $header-height;
  border-bottom: $border;
  align-items: center;
  background-color: $nav-header-background-color;
  color: $nav-header-primary-color;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  #menu {
    display: none;
    margin-left: 1rem;
    button {
      background: none;
      border: none;
      color: inherit;
      font-size: 2rem;
      width: auto;
      height: auto;
      cursor: pointer;
    }
  }
  span {
    margin-left: 1rem;
  }
  #gh {
    margin-left: auto;
    margin-right: 1rem;
  }
  #gh a {
    opacity: 0.7;
    display: block;
    background: url(assets/github-mark-white.svg);
    background-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
  }
  #logo a {
    color: $primary-color;
    font-size: 1.1rem;
    text-decoration: none;
  }
  span > a {
    display: block;
    color: color.adjust($nav-header-primary-color, $alpha: -0.3);
    font-size: 2rem;
    text-decoration: none;
  }

  @media (max-width: 900px) {
    #menu {
      display: block;
    }
  }

  nav {
    .hidden > div {
      display: none;
    }
    span div {
      position: fixed;
      top: $header-height;
      left: 0;
      width: $sidebar-width;
      height: calc(100vh - $header-height);
      z-index: 1;
    }
  }
}

// layout
#page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
#sidebar {
  display: flex;
  width: 25%;
  max-width: $sidebar-width;
  background: $sidebar-background-color;
}
@media (max-width: 900px) {
  #sidebar {
    display: none;
  }
}
#content {
  display: flex;
  flex-grow: 1;
  min-height: 0;
  gap: $section-gap;
}
#main {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  width: 75%;
  min-height: 0;
}

// sidebar links
.links {
  padding-top: 1rem;
  background: $sidebar-background-color;
  flex-grow: 1;
  font-size: 0.9rem;
  a {
    color: $sidebar-primary-color;
    display: block;
    padding: 0.5rem 2rem;
    text-decoration: none;
    white-space: nowrap;
  }
  a:hover {
    background: color.adjust($sidebar-background-color, $lightness: 2%);
  }
  h3 {
    color: color.adjust($sidebar-primary-color, $alpha: -0.3);
    display: block;
    padding: 1rem 2rem;
    font-size: inherit;
    font-weight: normal;
  }
  .active {
    font-style: italic;
    position: relative;
    &::before {
      color: darkred;
      content: '●';
      position: absolute;
      transform: translateX(-1rem);
    }
  }
}

// buttons
button {
  background: color.adjust($background-color, $lightness: 2%);
  border: $border;
  border-radius: 5px;
  color: $primary-color;
  font-family: inherit;
  font-size: 0.85rem;
  height: 2rem;
  width: 6rem;
  &:hover {
    background: color.adjust($background-color, $lightness: 4%);
  }
}
label {
  cursor: pointer;
  margin: 0.5rem;
}
input[type='file'] {
  display: none;
}

// upload components
.uploadx-drop-active {
  background: color.adjust($background-color, $lightness: 2%);
  border: $border-drop !important;
}

.upload-container {
  display: flex;
  flex-wrap: wrap;
  gap: $section-gap;
  height: calc(100vh - #{$header-height});
  overflow: auto;
}

.upload-panel {
  flex: 1 1 $upload-panel-min-width;
  display: flex;
  flex-direction: column;
  margin-top: $section-gap;
  overflow: hidden;
}

.drop-zone {
  height: $drop-zone-height;
  display: flex;
  align-items: center;
  justify-content: center;
  border: $border-drop;
  border-radius: 5px;
}

.control {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  background: color.adjust($background-color, $lightness: 2%);
  border-radius: 0 0 5px 5px;
  span {
    display: inline-flex;
    gap: $gap;
    padding: $gap;
    white-space: nowrap;
  }
}

.uploads-table,
.uploads-table2 {
  font-size: 0.9rem;
  min-height: 5rem;
  flex: 1;
  overflow: auto;
}

.row {
  align-items: baseline;
  display: flex;
  justify-content: flex-end;
  margin-top: $gap;
  span:first-child {
    margin-left: 1rem;
    flex: auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  span {
    display: inline-flex;
    gap: $gap;
    padding: 0 $gap;
    white-space: nowrap;
  }
}

@media (max-height: 670px) {
  .uploads-table,
  .uploads-table2 {
    min-height: 4rem;
  }
}

// debug panel
.debug-panel {
  flex: 1 1 $debug-panel-width;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: $sidebar-background-color;
  border-left: $border;
  span {
    flex-shrink: 0;
  }
  pre {
    flex: 1;
    font-size: 0.8rem;
    margin: auto;
    padding: $gap;
    overflow: auto;
    min-height: 0;
  }
}
