/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

$dark: rgb(48, 48, 50);
$light: rgb(240, 240, 240);
$nav: rgb(60, 60, 70);

.shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

$dark-theme: 1;

$background: $light;
$main: $dark;

@if $dark-theme == 1 {
  $main: $light;
  $background: $dark;
}

$border: 1px solid transparentize($main, 0.8);

body {
  background: $background;
  color: $main;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  @extend .shadow;
  align-items: center;
  background-color: $nav;
  color: $light;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  .logo {
    a {
      color: $light;
      font-size: 16px;
      text-decoration: none;
    }
  }

  a {
    color: $light;
    display: block;
    padding: 8px;
    text-decoration: none;
  }

  .active {
    font-style: italic;
  }

  nav {
    .hidden > li > div {
      display: none;
    }

    ul {
      display: block;
      list-style-type: none;
      width: 30px;
    }

    li > a {
      font-size: 20px;
      padding: 0;
      text-align: right;
    }

    li {
      position: relative;

      div {
        background-color: lighten($nav, 5%);
        height: 100%;
        position: fixed;
        right: 0px;
        width: 200px;
        z-index: 1;
        @extend .shadow;
      }
    }
  }
}

.container {
  display: flex;
  flex-flow: row;
  margin: 0;
  min-height: 250px;
  padding: 0;
}

.uploadx-drop-active {
  background-color: lighten($background, 10%);
}

button {
  background-color: transparent;
  border: $border;
  border-radius: 5px;
  color: $main;
  cursor: pointer;
  font-family: inherit;
  font-size: 13px;
  height: 28px;
  // border: transparent;
  margin: auto 2px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: capitalize;
  transition: all 150ms;
  width: 80px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

label {
  cursor: pointer;
}

.uploads-table,
.uploads-table2 {
  font-size: 90%;
  height: 200px;
  margin: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}

.control {
  border: $border;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  span {
    margin: auto;
    padding: 3px;
    white-space: nowrap;
  }
}

.row {
  align-items: baseline;
  display: flex;
  justify-content: flex-end;

  span:first-child {
    flex: auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span {
    margin: auto 10px;
    white-space: nowrap;
  }
}

.json {
  display: block;
  margin: 2px;
  min-height: 200px;

  pre {
    font-size: 80%;
    margin: auto;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
  }
}
