/* You can add global styles to this file, and also import other style files */
$primary-color: rgb(200, 200, 200);
$background-color: rgb(36, 36, 36);
$nav-header-primary-color: rgb(200, 200, 200);
$nav-header-background-color: rgb(36, 36, 36);
$sidebar-primary-color: rgb(200, 200, 200);
$sidebar-background-color: rgb(36, 36, 36);

$border: 1px solid transparentize($primary-color, 0.7);
$border-drop: 1px dashed $primary-color;
$header-height: 2.5rem;

body,
html {
  background: $background-color;
  color: $primary-color;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--font-size, 14px);
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  min-height: $header-height;
  border-bottom: $border;
  align-items: center;
  background-color: $nav-header-background-color;
  color: $nav-header-primary-color;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  #menu {
    display: none;
  }

  span {
    margin-left: 1rem;
  }

  #gh {
    margin-left: auto;

    img {
      display: block;
      opacity: 0.7;
      margin-right: 1rem;
      height: 1.6rem;
    }
  }

  #logo {
    a {
      color: $primary-color;
      font-size: 1.1rem;
      text-decoration: none;
    }
  }

  @media all and (max-width: 900px) {
    #menu {
      display: block;
    }
  }

  span > a {
    display: block;
    color: transparentize($nav-header-primary-color, 0.7);
    font-size: 1.6rem;
    text-decoration: none;
  }

  nav {
    .hidden > div {
      display: none;
    }

    span {
      position: relative;

      div {
        height: 100%;
        position: fixed;
        top: $header-height;
        left: 0;
        width: 270px;
        z-index: 1;
      }
    }
  }
}

#page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#sidebar {
  display: flex;
  width: 25%;
  max-width: 270px;
}

#content {
  display: flex;
  flex-grow: 1;
}

@media all and (max-width: 900px) {
  #sidebar {
    display: none;
  }
}

.links {
  padding-top: 3rem;
  background-color: $sidebar-background-color;
  flex-grow: 1;
  font-size: 0.9rem;

  a {
    color: $sidebar-primary-color;
    display: block;
    padding: 0.5rem 3rem;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 5px;
  }

  a:hover {
    background-color: lighten($sidebar-background-color, 5%);
  }

  span {
    color: transparentize($sidebar-primary-color, 0.7);
    display: block;
    cursor: default;
    padding: 2rem 3rem;
  }

  .active {
    font-style: italic;
  }
}

#main {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  width: 75%;

  // [uploadxdrop],
  .upload-zone {
    margin: 0.2rem;
    border: $border;
    border-radius: 5px;
  }
}

.uploadx-drop-active {
  background-color: lighten($background-color, 10%);
  border: $border-drop !important;
}

button {
  background-color: lighten($background-color, 8%);
  border: $border;
  border-radius: 5px;
  color: $primary-color;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.85rem;
  height: 2rem;
  margin: auto 0.2rem;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: capitalize;
  transition: all 150ms;
  width: 6rem;

  &:hover {
    background-color: lighten($background-color, 15%);
  }
}

label {
  cursor: pointer;
  margin: 0.5rem;
}

input[type='file'] {
  display: none;
}

.uploads-table,
.uploads-table2 {
  font-size: 0.9rem;
  height: 9rem;
  overflow-x: hidden;
  overflow-y: auto;
}

@media all and (max-height: 670px) {
  .uploads-table,
  .uploads-table2 {
    height: 7rem;
  }
}

.control {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  background-color: lighten($background-color, 8%);
  border-radius: 0 0 5px 5px;

  span {
    margin: auto 0.2rem;
    padding: 0.2rem;
    white-space: nowrap;
  }
}

.row {
  align-items: baseline;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.2rem;

  span:first-child {
    margin-left: 1rem;
    flex: auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span {
    margin: auto 0.2rem;
    padding: 0 0.2rem;
    white-space: nowrap;
  }
}

.json {
  pre {
    font-size: 0.8rem;
    margin: auto;
    padding: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
