<div uploadxDrop>
  <div class="uploads-table">
    <div *ngFor="let item of uploads$ | async" class="row">
      <span>{{ item.name }}</span>
      <span>{{ item.progress }}%</span>
      <span>{{ item.status }}</span>
      <span>
        <button (click)="item.status = 'paused'">pause</button>
        <button (click)="item.status = 'queue'">upload</button>
      </span>
    </div>
  </div>
  <div class="control">
    <span>
      <span>Drop files to upload, or </span>
      <label for="files-b" accesskey="o"> <strong>BROWSE</strong></label>
      <input id="files-b" accept="image/*,video/*" style="display: none;" type="file" uploadx />
    </span>
    <span>
      <button (click)="uploadAll()">Upload All</button>
      <button (click)="pauseAll()">Pause All</button>
      <button (click)="cancelAll()">Cancel All</button>
    </span>
  </div>
</div>
