<div class="container">
  <div class="btns">
    <div class="btn-col">
      <label class="upload-btn"
        >+
        <input type="file" uploadx accept="image/*,video/*" style="display:none" />
      </label>
      <button class="btn red raised" (click)="upload()">Upload All</button>
      <button class="btn red raised" (click)="cancel()">Cancel All</button>
      <button class="btn red raised" (click)="pause()">Pause All</button>
    </div>
  </div>

  <div class="uploads-table">
    <div class="row" *ngFor="let item of uploads">
      <span class="col-1">{{ item.name }}</span>
      <span class="col-2">{{ item.progress }}%</span>
      <span class="col-2">{{ item.status }}</span>
      <span class="col-3 btn-row">
        <button class="btn red raised" (click)="pause(item.uploadId)">pause</button>
        <button class="btn red raised" (click)="upload(item.uploadId)">upload</button>
      </span>
    </div>
  </div>
</div>
<div class="json">
  <pre>{{ state$ | async | json }}</pre>
</div>
